{% load static%}
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/"><img src="{% static 'img/logo/logo2.jpg' %}" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>                                                
                            <ul id="navigation">  
                                <li><a href="/">Home</a></li>
                                <li><a href="{% url 'store' %}">store</a></li>
                                <li><a href="{% url 'collections' %}">Categories</a></li>
                                <li>
            
                                </li>
                              <li></li>
                              <li></li>
                              {% if request.user.is_authenticated%}

                                <li><a href="#" class='text-primary' >Hi {{request.user.first_name}}!</a>
                                    <ul class="submenu">
                                        
                                        <li><a href="{% url 'cart' %}">Cart</a></li>
                                        <li><a href="{% url 'my_orders' %}">My orders</a></li>
                                        <li><a href="{% url 'my_profile' %}">My Profile</a></li>
                                    </ul>
                                </li>
                                {% endif%}
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <li>
                                <div class="nav-search search-switch">
                                    <span class="flaticon-search"></span>
                                </div>
                            </li>
                            {% if user.id is None%}
                            <li> <a href="{% url 'login' %}"><span class="flaticon-user">Login</span></a></li>
                            <li><a href="{% url 'register'%}" class ='text-primary'>Register</a></li>
                            
                            {% else %}
                            <li> <a href="{% url 'logout' %}"><span class="flaticon-user">Logout</span></a></li>
                            <li><a href="{% url 'cart' %}"><span class="flaticon-shopping-cart cart-count">{{cart_count}}</span></a> </li>
                            


                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>