{% extends 'admin_panel/base_admin.html'%} {% block content%}
{% load crispy_forms_tags %}

<div class="container">
  <div class="row">
    <div class="col-lg-4">
<form  method="GET">

  <div class="uniForm" style="margin-top:6%; margin-left:auto; background-color: #F8F9FA; padding: 2rem;" width='2rem'>
    {{ filter.form|crispy }}
    <button class="btn-primary" style="margin-top: 1rem;" >Search</button>
  </div>

</form>
</div>


  <div class="col-8">
      <div class="bg-light rounded h-100 p-4">
       
        <a href="?pdf='pdf'">pdf</a>
          <div class="table-responsive">
          
              <table class="display" id="filter_table" width = "100%">
                  <thead>
                      <tr>
                        
                          <th scope="col">Order Id</th>
                          <th scope="col">User</th>
                          <th scope="col">Payment Mode</th>
                          <th scope="col">Status</th>
                          <th scope="col">State</th>
                          <th scope="col">Total price</th>
                          <th scope="col">created at</th>
                        
                      </tr>
                  </thead>
                  
                  <tbody>
                    {% for obj in filter.qs %}
                      <tr>
                         
                         <td>{{obj.order_number}}</td>
                      
                          <td>{{obj.first_name}}</td>
                       
                          <td>{{obj.payment.payment_method}} </td>
                          <td> {{obj.status}}</td>
                          <td>{{obj.state}}</td>
                          <td>{{obj.product_price}}</td>
                          <td>{{obj.created_at}}</td>
                          
                          

                       </tr>
                       {% endfor %}
                   </tbody>
                  
               </table>

           </div>
       </div>
   </div>

   

  </div>
</div>

{% endblock%}
