{% extends 'base.html'%}  
{%block content%}      
        
        <!--================login_part Area =================-->
        <section class="login_par ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 ">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2>New to our Shop?</h2>
                                <p>There are advances being made in science and technology
                                    everyday, and a good example of this is the</p>
                                <a href="{% url 'register'%}" class="btn_3">Create an Account</a>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-6 col-md-6">
                        {% for msg in messages%}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>Hey</strong> {{msg}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Welcome Back ! <br>
                                    Please Sign in now</h3>
                                    
                                      {% endfor%}
                                <form class="row contact_form" action="{% url 'login'%}" method="POST">
                                    {% csrf_token %}
                                    <div class="col-md-12 form-group p_star">
                                        <input type="email" class="form-control" id="name" name="email" value=""
                                            placeholder="Email">
                                    </div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="password" class="form-control" id="password" name="password" value=""
                                            placeholder="Password">
                                            
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <div class=" align-items-center ">
                                            
                                          
                                            
                                        
                                        <button  type="submit" value="submit" class="btn_1">
                                            log in
                                        </button></div>
                                        <a class="lost_pass text-dark btn_2" href="#">forget password?</a>
                                        <a class="lost_pass text-dark btn_2" href="{% url 'login_otp' %}"> or Login with otp</a>
                                    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </section>
        <!--================login_part end =================-->

        {%endblock%}