
{% extends 'base.html'%}  
{% block content%}      

        <!--================login_part Area =================-->
        <section class="login_part ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2>New to our Shop?</h2>
                                <p>There are advances being made in science and technology
                                    everyday, and a good example of this is the</p>
                                <a href="{% url 'register'%}" class="btn_3">Create an Account</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                       
                        <div class="login_part_form">
                           
                            <div class="login_part_form_iner">
                                {% for msg in messages%}
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <strong>Hey</strong> {{msg}}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                  {% endfor%}
                                <h3>Welcome Back ! <br>
                                    Login with OTP</h3>
                                  
                                    <!-- otp enter form -->
                                    
                                  
                                    <form class="row contact_form" action="{% url 'login_otp1'%}" method="POST">
                                        {% csrf_token %}
                                        <div class="col-md-12 form-group p_star">
                                            <input type="Text" class="form-control"  name="otp" value=""
                                                placeholder="Enter OTP">
                                                
                                        </div>
                                        <div class="col-md-12 form-group">
                                          
                                            <button type="submit" value="submit" class="btn_3">log in</button>
                                        </div>
                                    </form>
                            
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
     {% endblock %}