{% extends 'base.html'%}  
{%block content%}      
{% load crispy_forms_tags %}
            
        <!--================regi_part Area =================-->
        <section class="login_part ">
            <div class="container">
                <div class="text-center">
                    <div class="col-lg-6 col-md-6 p-1">
                        <div class="login_part_for" style="">
                           
                                <h3  >Welcome<br>
                                    Please Register now</h3>
                                    <div style="padding:px">
                                <form class="row contact_form form-group" action="{% url 'register' %}" method="post">
                                    
                                        {{form|crispy}}
                                        {% csrf_token %}
                                        <button type="submit" value="submit" class="btn btn-3">Register</button>
                                </div>
                                </form>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
        {%endblock%}