{% extends 'base.html'%}  
{%block content%}      
        
        <!--================regi_part Area =================-->
        <section class="login_part ">
            <div class="container">
                <div class="text-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form" style="background-image:linear-gradient(90deg, #B08EAD 0%, #d4a5d1 64%, #B08EAD 100%);">
                            <div class="login_part_form_iner">
                                <h3  >Welcome<br>
                                    Please Register now</h3>
                                <form class="row contact_form form-group" action="{% url 'register' %}" method="post">
                                    
                                        {{form}}
                                        {% csrf_token %}
                                        <button type="submit" value="submit" class="btn_3">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
        {%endblock%}