{%extends 'base.html'%}
{%load static%}
{%block content%}

<div class="py-3" style="background-color: #df5e3b85;">
    <div class="container">
        <a href="{% url 'home' %}" class="text-white">Home/</a>
        <a href="{% url 'collections' %}" class="text-white">Collections/</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class='mt-5'>Collections</h1>
            <div class="row">
                {% for item in category%}
                <div class="col-md-4">
                    <div class="card">
                        
                        <a href="{% url 'collectionsview' item.category_slug%}">
                        <div class="card-body">
                            <div class="category-image">
                                {% if item.cat_offer %}
                            <span class="span p-2" style="background-color: rgb(4, 158, 4); position: absolute;">{{item.cat_offer.discount}}% off</span>
                        {% endif%}
                                <img src="{{item.cat_img.url}}" height='200px' class ='w-100' alt="">
                            </div>
                            <h4 class='text-center'>{{item.category_name}}</h4>
                        </div>
                    </a>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{%endblock%}