{%extends 'base.html'%}
{%load static%}
{%block content%}
{% load mathfilters%}
<div class="py-3" style="background-color: #D53203;">
    <div class="container">
        <a href="{% url 'home' %}" class="text-white">Home/</a>
        <a href="{% url 'collections' %}" class="text-white">Collections/</a>
        <a href="{% url 'collectionsview' category.category_slug %}" class="text-white">{{category.category_name}}/</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{categoryname.category_name}}</h1>
            <div class="row">
                {% for item in product%}
                <div class="col-md-4">
                    <div class="card">
                        <a href="{% url 'product_details' item.category.category_slug item.product_slug%}">
                        <div class="card-body">
                            
                           
                            {% if item.pro_offer%}
                                    <span class="span p-2" style="background-color: rgb(4, 158, 4); position: absolute;">{{item.pro_offer.discount}}% off</span>
                            {% elif item.category.cat_offer%}
                                    <span class="span p-2" style="background-color: rgb(4, 158, 4); position: absolute;">{{item.category.cat_offer.discount}}% off</span>
                            {% endif%}
                                      
                            <div class="category-image">
                                <img src="{{item.images.url}}" height='200px' class ='w-100' alt="">
                                
                            </div>
                            <h4 class='text-center'>{{item.product_name}}</h4>
                            {% if item.pro_offer%}
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                
                                    <h5>₹  {{item.pro_offer.discount|mul:item.price|div:100|sub:item.price|abs}}</h5><h6 class="text-muted ml-2"><del>₹ {{item.price}}</del></h6>
                            {% elif item.category.cat_offer%}
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                        
                            <h5>₹  {{item.category.cat_offer.discount|mul:item.price|div:100|sub:item.price|abs}}</h5><h6 class="text-muted ml-2"><del>₹ {{item.price}}00</del></h6>
                           </div>
                           {% else %}
                           <div class="d-flex align-items-center justify-content-center mt-2"> <h5>₹ {{item.price}}</h5> </div>
                          
                        </div>
                           {% endif %}
                        </div></a>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{%endblock%}